$line-height: 3px;
$line-width: 200px;


.breaker{
	position: relative;
	overflow: hidden;
	margin: #{$grid-gap * 2} 0 $grid-gap 0;
	padding: #{$grid-gap * 2} 0 0 0;

	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		height: $line-height;
		width: $line-width;
		background: $bright;
	}

	&__image{
		img, source {
			width: 100%;
			margin: 0 0 10px 0;
		}
	}

	

	&__caption{
		@include sans-serif-text(1.5em, 1.3em, bold);
		color: $bright;
		font-weight: bold;
		text-align: center;
		padding: 0 30px 30px 30px;
	}

	&__credit{
		@include agate();
		color: white;
		margin: 0;
	}

	figcaption{
		text-align:right;
		position: relative;
	}
}

.breaker + h3 {
	color: $white;
    font: 45px/1em #{$fonts-sans-serif-condensed};
    text-transform: uppercase;
    max-width: $river-width-large;
    margin: #{$grid-gap} auto #{$grid-gap / 3} auto;
    width: 100%;
    border: none;	
    text-align: center;
}

[data-animate="true"]{
	// If animations are on, then do this
	
	.breaker__caption{ opacity:0; }

	.breaker--animated{
		.breaker__caption{
			// This class will trigger css blurIns
			@include blurInto();
		}
	}

}


.illo{
	
	position: relative;

	@supports (mix-blend-mode: multiply){

		&:after{
			// This will tint the image with our river background color, 
			// making a white-bg image blend seamlessly with what's around it.
			content: "";
			display:block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $white;
			mix-blend-mode: multiply;
		}
		
		// This will cover up the "double multiplied" section where the tint screen above
		// combines with the river background, so we get a slightly darker shade.

		img{
			margin: 0;
		    display: block;
		}
		img + figcaption {
			margin: 0;
			padding-top: 7px;
			background: $white;
			position: relative;
			z-index: 2; // Moves the opaque figcaption up over the screen to cover the double multiplied portion
		}
	}
}


@media all and (min-width: $river-width-large){
	
	.breaker__caption{
		font-size: 1.8em;
	}

	.breaker + h3 {
	    // text-align: left;
	    font-size: 70px
	}

}