.breaker{
	position: relative;
	overflow: hidden;
	margin: #{$grid-gap * 2} 0 $grid-gap 0;


	img{
		width: 100%;
	}

	&__caption{
		@include sans-serif-text(2em, 1.3em, bold);
		color: $bright;
		font-weight: bold;
	}

	&__credit{
		@include agate();
		color: white;
	}

	figcaption{
		margin: #{$grid-gap * 2} 0 $grid-gap 0;
		padding: $grid-gap; 
		text-align:center;
		position: relative;

		p:last-child{
			margin: 0;
		}
		
		$line-height: 3px;
		$line-width: 200px;

		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			height: $line-height;
			width: $line-width;
			background: $bright;
		}
	}
}

.breaker + h3 {
	color: $white;
    font: 45px/1em #{$fonts-sans-serif-condensed};
    text-transform: uppercase;
    max-width: $river-width-large;
    margin: #{$grid-gap} auto;
    width: 100%;
    border: none;	
    text-align: center;
}

.breaker__video-wrapper{
	@include responsive-embed(3456,2304);
}

.illo{
	
	position: relative;

	@supports (mix-blend-mode: multiply){

		&:after{
			// This will tint the image with our river background color, 
			// making a white-bg image blend seamlessly with what's around it.
			content: "";
			display:block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $white;
			mix-blend-mode: multiply;
		}
		
		// This will cover up the "double multiplied" section where the tint screen above
		// combines with the river background, so we get a slightly darker shade.

		img{
			margin: 0;
		    display: block;
		}
		img + figcaption {
			margin: 0;
			padding-top: 7px;
			background: $white;
			position: relative;
			z-index: 2; // Moves the opaque figcaption up over the screen to cover the double multiplied portion
		}
	}
}


@media all and (min-width: $river-width-large){
	// .breaker{

	// 	figcaption{
	// 		padding: $grid-gap / 2;
	// 		background: rgba(black, .6);
	// 		position: absolute;
	// 		right: 0;
	// 		top: 50%;
	// 		max-width: 300px;
	// 		text-align:left;
	// 		border-top: 3px solid $bright;
	// 		&:before{
	// 			content: none;
	// 		}
	// 	}
	// }

	.breaker + h3 {
	    text-align: left;
	    font-size: 70px
	}

}