
.credits{
	max-width: 1000px;
	
    margin: $grid-gap auto;
    // background: rgba($white, .15);
	padding: 0 $grid-gap;
	overflow:hidden;
	color: #{set-text-color($body-background-color, true)};

	&__inner{
		@extend .container;
			
		margin-right: #{$grid-gap / -1 };
		display:flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	&__category{
		flex: 1 1 200px;
		text-align:center;
		margin-right: $grid-gap;
	    padding: 20px;
	    box-sizing: border-box;
	}

	&__label{
		@extend %section-label;
	}

	&__sublabel{
		@extend %section-sub-label;
	}

	&__category-label{
		@include sans-serif();
		margin:0;
		font-weight:bold;
		text-transform: uppercase;
	}

	&__category-list{
		@include sans-serif();
		margin:0;

		span{
			// Individual names should not break
		    white-space: nowrap; 
		}
	}
}
