// Here we deal with the side-saddle graphics

$media-col-width: 250px !default;
$side-width: calc(((100vw - #{$river-width-large}) / 2) - #{$container_padding_h * 2});
$side-max-width: (($container-max-width - $river-width-large) / 2) - $container_padding_h * 2;
$side-saddle-min-width: $river-width-large + $media-col-width * 2 + $container_padding_h * 2;

// This calc() pushes the graphic from the left edge of the viewport to the right edge of the river, with a further grid-gap in between;
@media all and (min-width: $side-saddle-min-width){
	.side{
		position: absolute;
		width: $side-width;
		max-width: $side-max-width;
		box-sizing:border-box;
		// background: yellow;
		// padding: $grid-gap;
		
		&--right{
			right: $container_padding_h; // Hugs it against the interior edge of the container
		}
	}


}


