.header{

	& * {
		color: white !important;
	}
	&__panel{
		height: calc(100vh - var(--navbar-height));
		box-sizing: border-box;
		border: 1px dashed yellow;
	}

	&__panel--headline{
		display:flex;
		flex-flow: column;
		align-items:center;
		justify-content: center;

	}
}