.header.header--student{
	// padding: $grid-gap * 2;
	box-sizing: border-box;
	// background: black url(../img/bogan1.jpg) center center no-repeat;
	// background-size: cover;
	height: calc(100vh - var(--navbar-height);

		display:flex;
		position:relative;

		overflow:hidden;

		.header__bg{
			img{
				object-position: center;
				object-fit: cover;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.header__text{
			background: rgba(black, .3);
			height: 100%;
			margin: auto;
			text-align: center;
			color: white;
			
			z-index: 2; 
			position:relative;
			padding: $grid-gap;
			box-sizing: border-box;

			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-content: center;


			& > * + *{
				margin-bottom: $grid-gap / 2;
				width: 100%;
			}

			.header__headline{
				@include responsive-font(10vw, 55px, 90px);
				line-height: .9em;
				text-shadow: 1px 1px 3px black;
			}

			.header__dek{
				font-size: 22px;
				margin-top: 1em;
			}
			.social-networks { 
				justify-content: center; 
			}

			// .pub-date, [itemprop="author creator"], .header__headline{
				// 	color: white;
				// }
			}

			.caption{
				@include agate();
				color:white;
				position: absolute;
				bottom: 0;
				right: $grid-gap * 2;
				padding: 15px;
				text-align: right;

			}
		}

		@media all and (min-width: $tablet-min-width){
			.header.header--student{
				.header__text{
					.header__dek{
						font-size: 30px;
					}
				}
			}
		}

		@media all and (min-width: $desktop-min-width){
			.header.header--student{
				padding: $grid-gap * 2;
				
				.header__text{
					max-width: 800px;
					height:auto;
				}
			}	
		}