.header{
	
	&__headline{
		@extend .headline;
		@include blurInto()

	}

	&__dek{
		@extend .dek;
		@include blurInto($blur-wave-1);
	}

	.bylines, .pub-date{
		@include blurInto($blur-wave-2);
	}

	.header__panel.header__panel--headline{
		// We use this selector b/c we want to be very specific so it does not 
		// take up the changes to other panels.

		height: calc(100vh - var(--navbar-height));// Because the headline panel DOES include the navbar
		justify-content: center;
		width: 100vw;

		& > * {
			// While the heads and deks should be left aligned throughout 
			// this presentation, we want all text in this panel to be centered.
		    margin: 0 auto #{$grid-gap / 2} auto;
			text-align: center;
			color: white;
		}
	}

	&__panel{
		height: 100vh;
		// border: 1px dashed yellow;

		display:flex;
		flex-flow: column;
		align-items:flex-start;
		justify-content: flex-end;

		z-index: 3;
		position: relative;

		box-sizing: border-box;
		

		&:last-child{
			// To give folks time to read the last slide before it all scrolls off the screen.
			height: 200vh;
			justify-content: center;
		}
	}

	

	&__map{
		position: sticky;
		top: 0;

		width: 100vw;
		height: calc(100vh - var(--navbar-height));
    
	    margin: 0 auto;
	}

	&__panel-text{
		@include serif-text(30px, 1.3em, normal);
		text-align: center;
	    background: rgba(black, .5);
	    padding: $grid-gap / 2;
	    color: white;
	    margin: 0;
	    opacity: .5;
	    transition: opacity 200ms ease-in;
	}

	small{
		display:none;
    	// DEBUG ONLY. CAN BE DELETED ON PROD
    	@include agate();
    	color: white;
    	text-align:center;
    	position: absolute;
    	top: 0;
    	left: 0;
    }
}

.header__panel--active .header__panel-text{ 
	opacity: 1; 
	transition: opacity 200ms ease-in;
}

.map{

	&__layer{
		opacity:0;
		transition: opacity 150ms ease;

		position: absolute;
		top:0;
		left:0;
		
		height: 100%;

		@supports (object-fit: contain){
			// By forcing the images to stretch, we create a content box equal to the container.
			// Using object fit, we can force all the layer images to scale-to-fit inside it.
			object-fit: contain;
			width: 100%;
		}
	}

	&__layer--base{
		opacity: 1;
	}

	&__layer--visible{
			opacity:1;
			transition: opacity 150ms ease;
	}
}


// USE CSS AND A DATA-* ATTRIBUTE ON THE BODY 
// TO TOGGLE VISIBLITY OF THE APPROPRIATE IMAGES

// PANEL 1
[data-header-panel="intro_ex_1"]{
	.map__layer.map__layer--intro_ex_1{
		opacity: 1;
	}
}

// PANEL 2
[data-header-panel="intro_ex_2"]{
	.map__layer.map__layer--intro_ex_1{
		opacity: .5;
	}
	
	.map__layer.map__layer--intro_ex_2{
		opacity: 1;
	}
}

// PANEL 3
[data-header-panel="intro_ex_3"]{
	.map__layer.map__layer--intro_ex_1, 
	.map__layer.map__layer--intro_ex_2{
		opacity: .5;
	} 

	.map__layer.map__layer--intro_ex_3{
		opacity: 1;
	}
}
// PANEL 4
[data-header-panel="intro_police_locs"]{
	.map__layer.map__layer--intro_police_locs{
		opacity: 1;
	}
}

// PANEL 5
[data-header-panel="intro_civil_suits_locs"]{
	.map__layer.map__layer--intro_police_locs{
		opacity: .5
	}
	.map__layer.map__layer--intro_civil_suits_locs{
		opacity: 1;
	}
}

// PANEL 6
[data-header-panel="intro_citations_locs"]{
	.map__layer.map__layer--intro_police_locs,
	.map__layer.map__layer--intro_civil_suits_locs{
		opacity: .5
	}

	.map__layer.map__layer--intro_citations_locs{
		opacity: 1;
	}
}

// PANEL 7
[data-header-panel="intro_dont_know"]{
	.map__layer.map__layer--base{
		opacity: 0;
	}

	.map__layer.map__layer--intro_dont_know{
		opacity: 1;
	}
}

@media all and (min-width: $tablet-min-width){
	.header{
		&__panel {
			padding: 0 0 0 #{$grid-gap * 2};			
			align-items:flex-start;
			justify-content: center;
			height: 85vh; // Adjust this to make scroll faster or slower
		}

		&__panel:last-child {
			height: 85vh; // Adjust this to make scroll faster or slower
			.header__panel-text{
				padding: 50vh 0;			
			}
		}


		&__panel--headline{
			align-items:center;
			max-width: 100vw;
			padding: $grid-gap * 2;
		}

		&__map{
			height: calc(100vh - var(--navbar-height));
			width: 100%;
			// width: calc(4 * (100vh - var(--navbar-height)) / 5);

			top: var(--navbar-height);
			z-index: 2;
		}
		
		&__panel-text{
			text-align: left;
			background: transparent;
			padding: 0;
		}	
	}

	@supports (display:grid){
		.header{
			display:grid;

			// first column width greater than 320, but less than 500px
			// It's like setting a min-width on a grid column
			grid-template: auto auto / minmax(320px, 500px) 1fr; 
			grid-auto-rows: 75vh;

			&__panel.header__panel--headline{
				align-self:center;
				grid-row: 1;
				grid-column: 1 / -1;
			}

			&__map{
				margin: 0;
				grid-row: 2 / -1; // Starting with row 2, the map should take up the 2d column in all the rows
				grid-column: 2 / -1;
			}

			&__panel{
				grid-column: 1 / 2;
				height: 100%; // The grid config will determine the row height
			}
		}
	}
	@supports not (display:grid){
		.header{

			&__panel.header__panel--headline{
			}

			&__map{
				left: 50vw;
				margin: 0;
			}

			&__panel{
				max-width: 50vw;
			}
		}
	}
}