$navbar-z-index: 10000 !default;
$nav-speed: 1000ms !default;


.carousel{
	width: 100%;
	z-index: $navbar-z-index; // Set absurdly high b/c of Leaflet elements
	background: rgba($navbar_background_color, .95);

	box-sizing: border-box;
		padding: $navbar_padding_v $navbar_padding_h;

	@supports (display:grid){
		display: grid;
		grid-template: 12px 1fr / 1fr 1fr 1fr;
		// grid-template: repeat(2, #{$navbar-overall-height / 2}) / 1fr 1fr 1fr;
		grid-gap: #{$grid-gap / 3} 0;
		align-items: center;
		// padding: 0 $navbar_padding_h; // keeps a little space on the edges.
	}

	@supports not (display:grid){
	    display: flex;
	    justify-content: center;
	    align-items: center;
		align-content: center;
		height: $navbar-overall-height;
		// padding: $navbar_padding_v $navbar_padding_h;
	}

	[itemprop="publisher"]{
		// height: $navbar_inner_height;
		// height: 10px;
		display: contents; // So it takes up no space, causing things to misalign.
		
		& > a{
			// So it takes up no space.
			display:contents;
		}

		img{
			width: 100%;
		    max-width: 110px;
			animation: blurInto 2s ease-out 3s 1;
		}

		@supports (display:grid){
			grid-column: 1;
			grid-row:1;
		    align-self: end;
		}
		@supports not (display:grid){
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translate(0, -50%);
		}

		// svg{
		// 	height: $navbar_inner_height;
		// }
	}

	&__inner{

	}

	// Actual story link stuff here

	&__stories{
		background: black;
		opacity: 0;
		transform: translate(0,-100vh);
		transition: all #{$nav-speed} ease;
		box-sizing:border-box;
		padding: $grid-gap;
		overflow-y: scroll;
		width: 100%;

		position: fixed;
		top: $navbar-overall-height;
		height: calc(100vh - #{$navbar-overall-height});
		left: 0;
		z-index: #{$navbar-z-index - 1};


	}

	&__stories-list{
		list-style: none;
		padding: 0;
		margin:0;
	}

	&__title{
		@include responsive-font(3vw, 23px, 30px, 25px);
		font-family: #{$fonts-sans-serif-condensed};
		font-weight: 300;
		line-height: 1em;

		color:white;
		text-transform:uppercase;
		margin: 0;
		
		@supports (display:grid){
			grid-column: 1 / -1;
			grid-row:2;
			align-self: start;
		}

		@supports not (display:grid){
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translate(0, -50%);
		}

		animation: blurInto 2s ease-out 0s 1;

		span{
			font-weight: 700;
			animation: blurInto 2s ease-out 1s 1;
		}
	}

	&__tagline{
		@include sans-serif();
		color: white;
		display:none;

	}
}

.carousel.carousel--open ~ .carousel__stories{
	opacity: 1;
	transform: translate(0,0);
	transition: all #{$nav-speed} ease;

	.carousel__stories-list li{
		filter: blur(0);
		transition: filter 1s ease-out;
	}
}


.carousel__stories-list{
	li{
		overflow:hidden; // To cover for neg. margins in .story

		margin-bottom: $grid-gap;
		padding-bottom: $grid-gap;
		border-bottom: 1px solid #eee;

		filter: blur(100px);
		transition: filter 1s ease-out;
	}	
}

.story{
	display:flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 -30px 0 0;

	&__text{
		flex: 2 1 230px;
		order: 2;
		margin: 0 30px 0 0;
	}

	&__headline{
		@include label6();
		color:white;
		margin: 0 0 7px 0;
	}

	&__description{
		@include sans-serif();
		color:white;
		margin: 0 0 7px 0;
	}


	&__image{

		// max-width: 100%;
		flex: 1 1 150px;
		// align-self: center;
		order: 1;
		margin: 0 30px 0 0;

		overflow:hidden;
		border-radius: 50%;

		img{
			width: 100%;
		}
	}
}

.carousel__button{
  animation: blurInto 2s ease-out 3s 1;
  
  @supports (display:grid){
    grid-column: 3;
    grid-row:1 / -1;
    justify-self: end;
  }
}


@media all and (min-width: $river-width-large){
	body{
		padding: #{$navbar_inner_height + ($navbar_padding_v * 2)} 0 0 0 !important;
	}

	.carousel{
		position: fixed;
		top: 0;
		left: 0;

		&__title{
			// @include 
			// font-size: 30px;
		}
	}

	@supports (display:grid){
		// Rearrange the navbar from the mobile layout.
		.carousel {
			grid-template: 1fr / 1fr 1fr 1fr;
			padding: $navbar_padding_v $navbar_padding_h;

			&__title{
				grid-column: 1 / -1;
				grid-row: 1;
				justify-self: start;
				align-self: center;
			}

			&__button{
				grid-column: 2;
				grid-row: 1;
				justify-self: center;
				align-self: center;
			}
			
			[itemprop="publisher"]{
				display:block; // b/c we need to undo display:contents to place in the grid
				grid-column: 3;
				grid-row: 1;
				justify-self: end;
				align-self: center;
			    
			    img {
		    	    max-width: 150px;
			    }
			}

		}


		// If we support grid, then undo the mobile view of the story links
		.carousel__stories-list{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: $grid-gap * 2;
			
			li{
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}	
		}
	}

	@supports not (display:grid){
		// If we support grid, then undo the mobile view
		.carousel__stories-list{
			max-width: $river-width-small;
			margin: 0 auto;			
		}
	}
}


@media all and (min-width: $river-width-large * 2){
	.carousel__stories-list{

		@supports (display:grid){
			grid-template-columns: repeat(3, 1fr);
		}
	}
}