$navbar-z-index: 10000 !default;
$nav-speed: 1000ms !default;



:root{
	--navbar-height: 65px;
}


body{
	padding: var(--navbar-height) 0 0 0 !important;
}

.animation-toggle{
	@include sans-serif();
	background: rgba(white, .3);
    border: none;
    color: #aaa;
    padding: 5px;
    height: 100%;
    max-width: fit-content;
    margin: auto;

    // position: absolute;
    // left: 53vw;
    // top: 0%;
    grid-row: 1 / -1;
    grid-column: 2;
    // transform: translate(0, -50%);

	.animation-toggle__enable{ display:inline; }
	.animation-toggle__disable{ display:none; }
}

[data-animate="true"]{
	.animation-toggle__enable{ display:none; }
	.animation-toggle__disable{ display:inline; }
}

.carousel{
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	z-index: $navbar-z-index; // Set absurdly high b/c of Leaflet elements
	background: rgba($navbar_background_color, .95);
	height: var(--navbar-height);
	box-sizing: border-box;
	padding: $navbar_padding_v $navbar_padding_h;

	@supports (display:grid){
		display: grid;
		grid-template: 16px 1fr / auto auto auto;
		grid-gap: 5px 0;
		align-items: center;
	}

	@supports not (display:grid){
	    display: flex;
	    justify-content: center;
	    align-items: center;
		align-content: center;
	}

	[itemprop="publisher"]{
		// @include blurInto($blur-wave-3)
		// height: $navbar_inner_height;
		// height: 10px;
		display: contents; // So it takes up no space, causing things to misalign.
		
		& > a{
			// So it takes up no space.
			display:contents;
		}

		img{
			width: 100%;
		    max-width: 110px;
		}

		@supports (display:grid){
			grid-column: 1;
			grid-row:1;
		    align-self: end;
		}
		@supports not (display:grid){
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	// Actual story link stuff here

	&__stories{
		background: rgba($navbar-carousel-background-color, .9);
		opacity: 0;
		transform: translate(0,-100vh);
		
		box-sizing:border-box;
		padding: $grid-gap;
		overflow-y: scroll;
		width: 100%;

		position: fixed;
		top: var(--navbar-height);
		height: calc(100vh - var(--navbar-height););
		left: 0;
		z-index: #{$navbar-z-index - 1};


	}

	&__stories-list{
		list-style: none;
		padding: 0;
		// max-width: 250px;
		margin: 0 auto;
	}

	&__title{
		// @include blurInto($blur-wave-3)
		@include responsive-font(3vw, 27px, 37px, 25px);
		font-family: #{$fonts-sans-serif-condensed};
		font-weight: 300;
		line-height: 1em;
		text-transform: uppercase;
		
		color:$highlight-color;
		text-transform:uppercase;
		margin: 0;
		
		@supports (display:grid){
			grid-column: 1 / -1;
			grid-row:2;
			align-self: start;
		}

		@supports not (display:grid){
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translate(0, -50%);
		}

		span{
			// @include blurInto($blur-wave-3)
			font-weight: 600;
		}
	}

	&__tagline{
		@include sans-serif();
		color: white;
		display:none;

	}
}

.carousel.carousel--open ~ .carousel__stories{
	opacity: 1;
	transform: translate(0,0);

	// .carousel__stories-list li{
	// 	filter: blur(0);
	// }
}


.carousel__stories-list{
	li{
		margin-bottom: $grid-gap;
		border-bottom: 1px solid #eee;
	    box-shadow: 1px 1px 3px rgba(black, .4);
	}	
}

.story{
	box-sizing:border-box;
	padding: 30px;
	background: $navbar-carousel-story-background-color;
    height: 100%;



	&__text{
		margin: 0 30px 0 0;
	}

	&__headline{
		@include label6();
		color: #{set-text-color($navbar-carousel-story-background-color, true)};
		margin: 0 0 7px 0;
	}

	&__description{
		@include sans-serif();
		margin: 0 0 7px 0;
		color: #{set-text-color($navbar-carousel-story-background-color, true)};
	}

	&__link{
		@extend %sidebar-button;
	}
}

.carousel__button{
  
  @supports (display:grid){
    grid-column: 3;
    grid-row:1 / -1;
    justify-self: end;
  }
}

[data-animate="true"]{

	.carousel__stories{
		transition: all #{$nav-speed} ease;
	}

	.carousel.carousel--open ~ .carousel__stories{
		transition: all #{$nav-speed} ease;
	}
}

@media all and (min-width: $river-width-large){
	
	:root{
		--navbar-height: 60px;
	}

	@supports (display:grid){
		// Rearrange the navbar from the mobile layout.

		.animation-toggle{ 
			grid-column: 3; 
		    position: absolute;
		    top: 0;
		    left: 0;
		    transform: translate(-50%, 0);
		}

		.carousel {
			grid-template: 1fr / 1fr 1fr 1fr;
			padding: $navbar_padding_v $navbar_padding_h;

			&__title{
				grid-column: 1 / -1;
				grid-row: 1;
				justify-self: start;
				align-self: center;
			}

			&__button{
				grid-column: 2;
				grid-row: 1;
				justify-self: center;
				align-self: center;
			}

			&__stories-list{
				max-width: none;
				margin: 0 auto;
			}
			
			[itemprop="publisher"]{
				display:block; // b/c we need to undo display:contents to place in the grid
				grid-column: 3;
				grid-row: 1;
				justify-self: end;
				align-self: center;
			    
			    img {
		    	    max-width: 150px;
			    }
			}

		}


		// If we support grid, then undo the mobile view of the story links
		.carousel__stories-list{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: $grid-gap;
			
			li{
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}	
		}
	}

	@supports not (display:grid){
		// If we support grid, then undo the mobile view
		.carousel__stories-list{
			max-width: $river-width-large;
			// margin: 0 auto;			
		}
	}
}


@media all and (min-width: $river-width-large * 2){
	.carousel__stories-list{

		@supports (display:grid){
			grid-template-columns: repeat(3, 1fr);
		}
	}
}