
.pullquote{
	padding:0 0 0 $grid-gap;
	margin:$grid-gap 0;
	border:none;
	border-left:3px solid $trib-blue2;


	blockquote{
		@include sans-serif-text(22px, 1.3em, normal);
		font-weight: 700;
		margin:0 0 10px 0;
		padding:0;

	}

	figcaption{
		@include sans-serif();
		font-weight:bold;

		span{
			font-size:.9em;
			font-weight: normal;
		}
	}
}


@media all and (min-width: $tablet-min-width){
	.trib-pullquote{
		blockquote{ font-size: 25px; }
	}
}


@media all and (min-width: $desktop-min-width){
	.trib-pullquote{
		blockquote{ font-size: 30px; }
	}
}