// ######################################################################
// This is NOT the container. This is the MENU inside the container
// ######################################################################

$traveler-active-background-color: set-text-color($body-background-color, true) !default;

.traveler{
	@extend %content_block;
	background: $body-background-color;
    max-width: $river-width-large;
    margin: $grid-gap auto;
	padding: 0;

	&__links {
		list-style:none;
		margin:0;
		padding: 0;

		// @supports (display:grid){
		// 	display: grid;
		// 	grid-template: auto / 1fr 1fr;
		// 	grid-gap: 0 30px;
		// }
	}
	
	&__link{
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid $trib-gray4;
		padding: 5px;

		// &:last-child {border-bottom: none;}

		&:hover, &:focus{
			background: rgba(black, .2);
		}
	
		a{
			@include sans-serif();
			font-family: #{$fonts-sans-serif-condensed};
			color:black;
			text-align:center;

			&:hover, &:focus{
				text-decoration:none;
			}
		}

		&--active, &--active:hover, &--active:focus{
			background: #{$traveler-active-background-color};
			
			.traveler__story-icon{
				fill: white;
			}
			
			a {
				// This is a littl bit inception-esque, but the highlight background
				// is calculated based on the body color. We want the text color to be 
				// the opposite of that calculated color.
				color: white;
			}
		}
	}
	
	&__story-icon{
		height: 1.5em;
		width: 1.5em;
		fill: black;
		margin-right: 5px;
	}

	.traveler__link--#{$mainbar} a{
		text-transform:uppercase;
		// text-align: center;
		line-height: 1em;
		font-weight:bold;
	}
}

@media all and (min-width: $phablet-min-width){
	.traveler{
		&__links {
			@supports (display:grid){
				display: grid;
				grid-template: auto / 1fr 1fr;
				grid-gap: 0 30px;
			}
		}
	}
}

@media all and (min-width: $side-saddle-min-width){
	.traveler{
		position:sticky;
		top: $grid-gap + $navbar-overall-height;
		margin-right: $grid-gap;
		&__links{
			display:block;
			// This keeps it at a reasonable width on large screens.
			max-width: 250px;
			margin-left: auto;
		}

		&__link{
			justify-content: flex-start;

			a{
				text-align:left;
			}
		}
	}

}