$sidebar-margin-bottom: $grid-gap !default;
$read-more-background-color: $bright !default;
$sidebar-link-background-color: darken($bright, 10%) !default;
$sidebar-link-text-color: set-text-color($sidebar-link-background-color, true) !default;
$side-bar-box-shadow: 1px 1px 3px rgba(black, .4) !default;


#return{
	// the returnlink
	display:none;
    width: fit-content;
    height: fit-content;
	position: fixed;
	bottom: 0;
	right: 0;
	left: auto;

	transform: translate(-100%, -100px);
   
    svg{
		transform: rotate(180deg);
	    animation: none;
	    background: rgba(black, .3);
	}
}

[data-display-return=true] #return{ display:block; }

// The inline links in the mainbar
.sidebar-link{
	font-family: #{$fonts-sans-serif};
	font-weight:bold;
	background: rgba($sidebar-link-background-color, .5);
	color: #{$sidebar-link-text-color};
	padding: 0 5px;

	&:hover, &:focus{
		background: $sidebar-link-background-color;
	}

	svg{
		height: .65em;
		width: .65em;
		margin: 0 0 0 5px;
		fill: #{$sidebar-link-text-color};
	}
}

.sidebars{
	&__header{
		@extend %section-label;
		width: 100%;// b/c of the flex container
	}

	&__sub-label{
		@extend %section-sub-label;
		margin: 0 0 #{$grid-gap / 2} 0;
		width: 100%; // b/c of the flex container
	}
}

.sidebar{
	margin-top: $grid-gap;
	margin-bottom: $sidebar-margin-bottom;
	max-height: 500px;
	overflow:hidden;
	transition: max-height 400ms ease;
    box-shadow: 1px 1px 3px rgba(black, .4);

	&--open{
		max-height:none;
		transition: max-height 400ms ease;
		overflow:visible;
		box-shadow: none;
	}

	&__traveler{ 
		display:block; 
		max-width: 400px;
	}
}

// sidebar open buttons
.read-more{
	@extend %sidebar-button;
    z-index: 1000;
	transform:translate(0, -50%);
	margin: #{$sidebar-margin-bottom / -1 } auto;
	display:block;
}


@media all and (min-width: $side-saddle-min-width){

	// .sidebar-menu__header,.sidebar-menu__sub-label{
	// 	display:none;
	// }

	.sidebars{
		display:flex;
		flex-wrap:wrap;

		&__traveler{
			flex: 1 1;
		}

		&__stories{
			flex-basis: $river-width-large;
			background: $body-background-color;
		}

		&__media-column{
			// Right now, this column only exists to take up equal space on the far side
			flex: 1 1;
		}
	}

}