// ######################################################################
// This is NOT the container. This is the MENU inside the container
// ######################################################################

$traveler-active-background-color: set-text-color($body-background-color, true) !default;

.traveler{
	@extend %content_block;
	background: rgba($white, .75);
	margin-right: $grid-gap;
	padding: $grid-gap / 2;
	padding: 0;

	&__links {
		list-style:none;
		margin:0;
		padding: 0;
	}
	
	&__link{
		display: flex;
		align-items: center;
		border-bottom: 1px solid $trib-gray4;
		padding: 5px;

		&:last-child {border-bottom: none;}
	
		a{
			@include sans-serif();
			font-family: #{$fonts-sans-serif-condensed};
			color:black;

			&:hover, &:focus{
				text-decoration:none;
			}
		}

		&--active{
			background: #{$traveler-active-background-color};

			a {
				// This is a littl bit inception-esque, but the highlight background
				// is calculated based on the body color. We want the text color to be 
				// the opposite of that calculated color.
				color: white;
			}
		}
	}
	
	&__story-icon{
		height: 1.5em;
		width: 1.5em;
		fill: black;
		margin-right: 5px;
	}

	.traveler__link--#{$mainbar} a{
		text-transform:uppercase;
		line-height: 1em;
		font-weight:bold;
	}
}

@media all and (min-width: $side-saddle-min-width){
	.traveler{
		position:sticky;
		top: $grid-gap + $navbar-overall-height;
	}

}