.sidebar-menu{
	@extend .container;
	margin: $grid-gap auto;
	background: $white;
	box-sizing:border-box;
	padding: $grid-gap;

	&__header{
		@include label5();
		margin: 0 0 #{$grid-gap / 2} 0;
		text-align:center;
	}


	&__stories{
		@supports (display:grid){
			display:grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-flow: row dense;
			grid-gap: $grid-gap;
		}
	
		@supports not (display:grid){
			display:flex;
			flex-wrap:wrap;
	
			& > * {
				flex: 1 1 250px;
			}
		}
	}

	&__story a{
		display:block;

		&:hover{
			background: #eee;
		}
	}

	&__story-thumb{
		width: 100%;
	}

}