// ######################################################################
// This is NOT the container. This is the MENU inside the container
// ######################################################################

.traveler{
	@extend %content_block;
	background: rgba($white, .75);
	margin-right: $grid-gap;
	padding: $grid-gap / 2;

	ul{
		list-style:none;
		margin:0;
		padding: 0;

	}

	li:last-child a {border-bottom: none;}

	&__link{
		@include sans-serif();
		display:block;
		font-family: #{$fonts-sans-serif-condensed};
		padding: 5px;
		border-bottom: 1px solid $trib-gray4;
		color:black;

		&:hover, &:focus{
			text-decoration:none;
			// background: $trib-gray4;
		}

		&--active{
			font-weight: bold;
			background: $white;
		}
	}
}

@media all and (min-width: $side-saddle-min-width){
	.traveler{
		position:sticky;
		top: $grid-gap + $navbar-overall-height;
	}

}