@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700"');

// Enables Tribune colors, but is required for everything.
@import 'base-variables';
@import 'base-config'; // If you are using the off-platform blueprint, uncomment this.

// COLORS, eyedropped from Casella photos

$darkest: #070808;
$dark: #0a154e;
$bright: #FEE8A0;
$white: #F1F3F4;

$yankees:#1C2541;
$imperial:#0B4F6C;
$purple:#36213E;


$body-background-color: #111;
$navbar_background_color: $darkest;
$highlight-color: $bright;
$river-background-color: $white;

// Reassign type styles
// $fonts-serif: XXX;
$fonts-sans-serif: "'Open Sans', sans-serif";
$fonts-sans-serif-condensed: "'Open Sans Condensed', sans-serif";

$refer-background-color: #2F3030; // Hex of rgba($white, .15)


// NAV CAROUSEL
$navbar_padding_h: $grid-gap / 2;
$navbar_padding_v: $grid-gap / 3;
$navbar-overall-height: 60px;

// Hamburgar button in nav
$hamburger-border-radius: 5px;
$hamburger-nav-height: $navbar-inner-height;
$hamburger-nav-width:$hamburger-nav-height;
// $hamburger-nav-color: $navbar_background_color;
$hamburger-nav-color: $highlight-color;
$hamburger-bar-height: 2px;
$nav-transition-time: 250ms;


// CUSTOM OR WEIRD BREAKPOINTS AND SCAFFOLDING
$river-width-large: 650px; // Copied from base
$river-width-small: 450px; // Copied from base
$media-col-width: 250px;
$tablet-min-width: 767px;

// Common needs for sidebars
$sidebar-margin-bottom: $grid-gap * 2;
$read-more-background-color: $bright;

// INTRO BLUR TIMES

$blur-wave-1: 1s;
$blur-wave-2: 5s;
$blur-wave-3: 5s;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@keyframes blurInto{
	from {
		opacity:0;
		filter: blur(100px);
		// transform: translate(0, -1em);
	}

	to{
		opacity:1;
		filter: blur(0);
		// transform: translate(0,0);
	}
}

@mixin blurInto($delay:0s){
	// @param $delay <integer> the delay, in seconds, for the animation
	animation: blurInto 2s ease-out #{$delay} 1 forwards;
	opacity:0;
}


@keyframes bounce{
	from {
		transform: translate(-50%, 0);
	}

	to {
		transform: translate(-50%, -50px);
	}
}

@mixin bounce(){
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

%content_block{
	padding: $grid-gap;
	background: $river-background-color;
	box-sizing: border-box;
    margin-bottom: $grid-gap;
}


// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT -----------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';
@import 'trib-photos-and-arrangements';

// ---- OFF-PLATFORM COMPONENT STYLES, UNCOMMENT THE ONES YOU WANT --------------------
// ---- (You'll need most or all of them) ---------------------------------------------
@import 'base-scaffolding';
@import 'base-footer';
@import 'base-navbar';
@import 'base-social';
@import 'base-byline';
@import 'base-adverts';
@import 'base-comments';
@import 'base-refers';
@import 'base-hamburger';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'abuse-typography';
@import 'nav-carousel'; // The nav drawer
@import 'hamburger'; // Specifically the animated button to open the nav drawer
@import 'credits'; // The credits box
@import 'embedded-content'; // Handles graphics and various side-saddle issues
@import 'traveler'; // The nav alongside the sidebars
@import 'sidebar-menu'; // The nav before the sidebars
@import 'header'; // the mainbar header
@import 'breakers'; // Test styles for story breakers

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

$keep-scrolling-icon-width: 50px !default;

.keep-scrolling-icon{
	fill: white;
	position: sticky;

    top: 100vh;
    top: calc(100vh - var(--navbar-height));
    left: 50%;
	transform: translate(-50%, -115%);

	border: 2px solid white;
    border-radius: 50%;
    width: $keep-scrolling-icon-width;
    height: $keep-scrolling-icon-width;
    padding: 10px;
    box-sizing: border-box;
}

[data-animate="true"]{
	.keep-scrolling-icon{
		@include bounce();
		// @include blurInto($blur-wave-3);
	}
}

.animation-toggle{
	@include sans-serif();
	background: rgba(white, .3);
    border: none;
    color: #aaa;
    padding: 5px;
    max-width: fit-content;
    margin: auto;

    position: absolute;
    left: 53vw;
    top: 0%;
    grid-row: 1;
    // transform: translate(0, -50%);

	.animation-toggle__enable{ display:inline; }
	.animation-toggle__disable{ display:none; }
}

[data-animate="true"]{
	.animation-toggle__enable{ display:none; }
	.animation-toggle__disable{ display:inline; }
}

// RESETS
body{
	margin: 0;
	padding: 0;
	background-color: $body-background-color;
	
	// @supports (background-blend-mode: multiply){
	// 	background-image: url(../img/cps-abuse-bg-texture.jpg);
	// 	background-blend-mode: multiply;
	// }
}

.sr-only{
	// Use this to hide elements from everything except screen readers.
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.page-footer{
	background: $darkest;
}


// Makes subscribe refers side-saddle
.refer{
	@extend .side--right;
	margin-top: 0;

	&__headline{
		font-size: 1.2em;
	}
}



[data-ad-type="shrinky-cube"]{
	margin: $grid-gap auto;
}


// CHANGES TO RIVER FOR THE DARK BG STYLE

.river{
	@extend %content_block;
}



.sidebars__traveler{display:none;}

.sidebar{

	// margin-top: calc(#{$grid-gap} + var(--navbar-height)); // SO the anchor tags jump the sidebar into view
	margin-bottom: $sidebar-margin-bottom;
	max-height: 500px;
	overflow:hidden;
	position:relative;
	transition: max-height 400ms ease;

	// &:first-child{
	// 	margin-top: 0; // So the first sidebar aligns to top with the traveler.
	// }

	&:after{
		// This is the little gradient showing that there is more stuff
		content:"";
		display:block;

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: $sidebar-margin-bottom;


		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+19,0+100 */
		background: linear-gradient(to top, #{rgba($white, 1)} 1%,#{rgba($white, 1)} 19%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


	}

	&--open{
		max-height:none;
		transition: max-height 400ms ease;
		overflow:visible;

		&:after{
			content:none;
		}
	}
}

// sidebar open buttons
.read-more{
	@include sans-serif();
    z-index: 1000;
	transform:translate(0, -50%);
	display: block;
	margin: #{$sidebar-margin-bottom / -1 } auto 0 auto;

    border: none;
    background: $read-more-background-color;
    color: set-text-color($read-more-background-color);

    padding: 15px;
    border: 1px solid #bbb;
	transition: background 150ms ease-out;
    
    &:hover, &:focus{
		background: darken($read-more-background-color, 10%);
		transition: background 150ms ease-out;
    }
}

// This is the paywall/meter/registration sticky note at the bottom of the page
.met-flyout .met-promo-content{
	p {
		line-height: 1.3em;
		font-family: "Arial", sans-serif;
		span{
			font: 14px/1.3em "Arial", sans-serif;
			color:white;
			width:100%;
			margin: 0;

			&:first-of-type{
				font-weight: 700;
			}

			a {
				font: 14px/1.3em "Arial", sans-serif !important;
				
			}
		}
	}
}

// ADVERT TWEAK TO CENTER THE BOX
.advert{
	&[data-ad-type="shrinky-cube"], 
	&[data-ad-type="cube"]{ 
		margin: #{$grid-gap} auto; 
	}
}


// TODO: Move into base styles

.river ~ .image{
	// For any images that are subsequent siblings (not children!!)
	// of a .river. The goal here is to target full-width images that
	// are in a container but not a river.
	
	figcaption{
		color: $white;
	}
}

// TWEAKS JUST FOR THIS PROJECT

.image{
	margin: $grid-gap 0;
}

// Changes to comments to match the styles

.comments:not(.comments--open){
	
	.river{ 
		
    	@supports (display: contents){
    		display: contents;
    	}
    	@supports not (display: contents){
    		background: none; 
    	}
	}
	#comments-button{
		border-color: $white;
		color: $white;

		&:hover{
			background: $white;
			color: black;
		}
	}
}


@media all and (min-width: $phablet-min-width){
	// By default, this is 450px+
	// p{
	// 	font-size: 18px;
	// 	line-height: 1.5em;
	// }
}
@media all and (min-width: $side-saddle-min-width){

	.sidebars{
		display:flex;

		&__traveler{
			display:block;
			flex: 1 1;
		}

		&__stories{
			flex-basis: $river-width-large
		}

		&__media-column{
			// Right now, this column only exists to take up equal space on the far side
			flex: 1 1;
		}
	}

}

// @media all and (min-width: $tablet-min-width){
// 	// ONLY CHANGES FOR TABLETS + DESKTOPS
// 	// By default, this is 650px+	
// }

// @media all and (min-width: $desktop-min-width){
// 	// ONLY CHANGES FOR DESKTOPS
// 	// By default, this is 850px+
// }