@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700"');

// Enables Tribune colors, but is required for everything.
@import 'base-variables';
@import 'base-config'; // If you are using the off-platform blueprint, uncomment this.

$mainbar: "failures";

// COLORS, eyedropped from Casella photos

$darkest: #070808;
$dark: #0a154e;
$bright: #FEE8A0;
// $bright: #c7ba90;
$white: #F1F3F4;

$yankees:#1C2541;
$imperial:#0B4F6C;
$purple:#36213E;


$body-background-color: $white;
$navbar_background_color: $darkest;
$highlight-color: $bright;
$river-background-color: $white;
$river-background-color: white;

// Reassign type styles
// $fonts-serif: XXX;
$fonts-sans-serif: "'Open Sans', sans-serif";
$fonts-sans-serif-condensed: "'Open Sans Condensed', sans-serif";

$refer-background-color: $trib-gray4;
$refer-text-color: black;


// NAV CAROUSEL
$navbar_padding_h: $grid-gap / 2;
$navbar_padding_v: $grid-gap / 3;
$navbar-overall-height: 60px;
$navbar-carousel-background-color: $darkest;
$navbar-carousel-story-background-color:#333;

// Hamburgar button in nav
$hamburger-border-radius: 5px;
$hamburger-nav-height: $navbar-inner-height;
$hamburger-nav-width:$hamburger-nav-height;
// $hamburger-nav-color: $navbar_background_color;
$hamburger-nav-color: $highlight-color;
$hamburger-bar-height: 2px;
$nav-transition-time: 250ms;


// CUSTOM OR WEIRD BREAKPOINTS AND SCAFFOLDING
$river-width-large: 600px; // Copied from base
$river-width-small: 450px; // Copied from base
$media-col-width: 250px;
$tablet-min-width: 767px;

// Common needs for sidebars
$sidebar-margin-bottom: $grid-gap;
$read-more-background-color: $bright;

// INTRO BLUR TIMES

$blur-wave-1: 1s;
$blur-wave-2: 5s;
$blur-wave-3: 5s;

// BREAKERS
$breaker-text-color: $imperial;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@keyframes blurInto{
	from {
		opacity:0;
		filter: blur(100px);
		// transform: translate(0, -1em);
	}

	to{
		opacity:1;
		filter: blur(0);
		// transform: translate(0,0);
	}
}

@mixin blurInto($delay:0s){
	// @param $delay <integer> the delay, in seconds, for the animation
	animation: blurInto 2s ease-out #{$delay} 1 forwards;
	opacity:0;
}


@keyframes bounce{
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(0, -50px);
	}
}

@mixin bounce(){
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

%content_block{
	padding: $grid-gap;
	background: $river-background-color;
	box-sizing: border-box;
    margin-bottom: $grid-gap;
}

%sidebar-button{
	@include sans-serif();
	display: inline-block;
	padding: 5px #{$grid-gap / 2};
	margin-top: 5px;

	cursor:pointer;
	border: 1px solid #888;
    background: $read-more-background-color;
    color: #{set-text-color($read-more-background-color)};
	transition: background 150ms ease-out;

    &:hover, &:focus{
		background: darken($read-more-background-color, 10%);
		transition: background 150ms ease-out;
		text-decoration:none;
    }

}

// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT -----------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';
@import 'trib-photos-and-arrangements';

// ---- OFF-PLATFORM COMPONENT STYLES, UNCOMMENT THE ONES YOU WANT --------------------
// ---- (You'll need most or all of them) ---------------------------------------------
@import 'base-scaffolding';
@import 'base-footer';
@import 'base-navbar';
@import 'base-social';
@import 'base-byline';
@import 'base-adverts';
// @import 'base-comments';
@import 'base-refers';
@import 'base-hamburger';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'abuse-typography';
@import 'nav-carousel'; // The nav drawer
@import 'hamburger'; // Specifically the animated button to open the nav drawer
@import 'credits'; // The credits box
@import 'embedded-content'; // Handles graphics and various side-saddle issues
@import 'sidebar-traveler'; // The nav alongside the sidebars
// @import 'sidebar-menu'; // The nav before the sidebars
@import 'header'; // the mainbar header
@import 'breakers'; // Test styles for story breakers
@import 'pullquote'; 
@import 'sidebars';
@import 'borde'; 
@import 'keep-scrolling-icon'; 

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------


.image--credit-only{
    text-align: right;
	figcaption{
		text-align:right;
	}
}

// debugging only
.illo .debug-slug{
	position: absolute;
	top: 40%;
}

.debug-slug{
	@include agate();
	margin-top: 10px;
	font-weight:bold;
	color: #aaa;
}

// RESETS
body{
	margin: 0;
	padding: 0;
	background-color: $body-background-color;
	scroll-behavior: smooth;
	// @supports (background-blend-mode: multiply){
	// 	background-image: url(../img/cps-abuse-bg-texture.jpg);
	// 	background-blend-mode: multiply;
	// }
}

.noscroll{
	// Used for keeping the main story from scrolling when the navdrawer is open
	overflow:hidden;
}

.sr-only{
	// Use this to hide elements from everything except screen readers.
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.page-footer{
	background: $darkest;
}


.refer{
	// margin-top: 0;

	&__headline{
		color: $refer-text-color;
		font-size: 1.2em;
	}

	&__text{
		color: $refer-text-color;
	}
}

.refer--has-image.refer--share_your_story {

	.refer__headline{
		font-size: 2em;
	}
	.refer__image, .refer__text-wrapper{ 
		max-width: 450px;
	}

	.refer__image{
		mix-blend-mode:multiply;
	}
}


[data-ad-type="shrinky-cube"]{
	margin: $grid-gap auto;
}


// CHANGES TO RIVER FOR THE DARK BG STYLE

.river{
	@extend %content_block;
}

.refer.side.refer--case-study{
	background: url('../img/illos/wells.jpg') center no-repeat;
	background-size: cover;
	
	padding: 30px 0;

	h1{
		@include label7();
		padding: 5px;
		background: rgba(black, .85);
		color: white;

	}

	p{
		@include sans-serif();
		padding: 5px;
		background: rgba(black, .85);
		color: white;

	}

	.refer__button{
		margin: auto;
		background: rgba(black, .85);
	}
}




// This is the paywall/meter/registration sticky note at the bottom of the page
.met-flyout .met-promo-content{
	p {
		line-height: 1.3em;
		font-family: "Arial", sans-serif;
		span{
			font: 14px/1.3em "Arial", sans-serif;
			color:white;
			width:100%;
			margin: 0;

			&:first-of-type{
				font-weight: 700;
			}

			a {
				font: 14px/1.3em "Arial", sans-serif !important;
				
			}
		}
	}
}

// ADVERT TWEAK TO CENTER THE BOX
.advert{
	&[data-ad-type="shrinky-cube"], 
	&[data-ad-type="cube"]{ 
		margin: #{$grid-gap} auto; 
	}
}


// TODO: Move into base styles

.river ~ .image{
	// For any images that are subsequent siblings (not children!!)
	// of a .river. The goal here is to target full-width images that
	// are in a container but not a river.
	
	figcaption{
		color: $white;
	}
}

// TWEAKS JUST FOR THIS PROJECT

.image{
	margin: $grid-gap 0;
}

// Changes to comments to match the styles

// .comments:not(.comments--open){
	
// 	.river{ 
		
//     	@supports (display: contents){
//     		display: contents;
//     	}
//     	@supports not (display: contents){
//     		background: none; 
//     	}
// 	}
// 	#comments-button{
// 		border-color: $white;
// 		color: $white;

// 		&:hover{
// 			background: $white;
// 			color: black;
// 		}
// 	}
// }
.reporter-credit{
	box-sizing: border-box;
	list-style:none;
	margin: #{$grid-gap / 2} 0;
	padding: 0 0 0 #{$grid-gap / 2};

	border-left: 4px solid $trib-gray4;

	li {
		@include agate();
	}
}

// @media all and (min-width: $side-saddle-min-width){

// 	.sidebars{
// 		display:flex;

// 		&__traveler{
// 			display:block;
// 			flex: 1 1;
// 		}

// 		&__stories{
// 			flex-basis: $river-width-large
// 		}

// 		&__media-column{
// 			// Right now, this column only exists to take up equal space on the far side
// 			flex: 1 1;
// 		}
// 	}

// }
