@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700"');

// Enables Tribune colors, but is required for everything.
@import 'base-variables';
@import 'base-config'; // If you are using the off-platform blueprint, uncomment this.

// COLORS, eyedropped from Casella photos

$darkest: #070808;
// $dark: #293B93;
$dark: #0a154e;
// $dark: #292D74;
$bright: #FEE8A0;
$white: #F1F3F4;

$body-background-color: $dark;
$navbar_background_color: $darkest;
$highlight-color: $bright;

// Reassign type styles
// $fonts-serif: XXX;
$fonts-sans-serif: "'Open Sans', sans-serif";
$fonts-sans-serif-condensed: "'Open Sans Condensed', sans-serif";


$cta-background-color: lighten($trib-blue4, 20%);


// NAV CAROUSEL
$navbar_padding_h: $grid-gap / 2;
$navbar_padding_v: $grid-gap / 3;
$navbar-overall-height: 60px;

// Hamburgar button in nav
$hamburger-border-radius: 5px;
$hamburger-nav-height: $navbar-inner-height;
$hamburger-nav-width:$hamburger-nav-height;
// $hamburger-nav-color: $navbar_background_color;
$hamburger-nav-color: $highlight-color;
$hamburger-bar-height: 2px;
$nav-transition-time: 250ms;


// CUSTOM OR WEIRD BREAKPOINTS AND SCAFFOLDING
$river-width-large: 650px; // Copied from base
$river-width-small: 450px; // Copied from base
$media-col-width: 250px;
$side-saddle-min-width: ($river-width-large + ($media-col-width * 2) + $grid-gap);

// Common needs for sidebars
$sidebar-margin-bottom: $grid-gap * 2;
$read-more-background-color: $bright;


// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@keyframes blurInto{
	from {
		opacity:0;
		filter: blur(100px);
		transform: translate(-5px, 0);
	}

	to{
		opacity:1;
		filter: blur(0);
		transform: translate(0,0);
	}
}

%content_block{
	padding: $grid-gap;
	background: $white;
	box-sizing: border-box;
    margin-bottom: $grid-gap;
}

// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT -----------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';
@import 'trib-photos-and-arrangements';

// ---- OFF-PLATFORM COMPONENT STYLES, UNCOMMENT THE ONES YOU WANT --------------------
// ---- (You'll need most or all of them) ---------------------------------------------
@import 'base-scaffolding';
@import 'base-footer';
@import 'base-navbar';
@import 'base-social';
@import 'base-byline';
@import 'base-adverts';
@import 'base-comments';
@import 'base-refers';
@import 'base-hamburger';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'nav-carousel'; // The nav drawer
@import 'hamburger'; // Specifically the animated button to open the nav drawer
@import 'credits'; // The credits box
@import 'embedded-content'; // Handles graphics and various side-saddle issues
@import 'traveler'; // The nav alongside the sidebars
@import 'sidebar-menu'; // The nav before the sidebars
@import 'header'; // the mainbar header


// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

// RESETS
body{
	margin: 0;
	padding: 0;
	background-color: $body-background-color;
	background-image: url(../img/cps-abuse-bg-texture.jpg);
	background-blend-mode: multiply;
}

.sr-only{
	// Use this to hide elements from everything except screen readers.
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.credits, .trb_mainContent .credits {
	// All notes, sources and credits should go inside a container class='credits'
	// and should use the agate type style. No italics
	p{ @include agate(); }
}

.page-footer{
	background: $darkest;
}



// ##############################################
// If you are using the off platform rig, then uncomment this code. otherwise you can delete it.
// ##############################################

p{
	font: 15px/1.6em $fonts-serif;
	margin: 0 0 #{$grid-gap / 2} 0;
}

a{
	color: $color-links;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}


// CHANGES TO RIVER FOR THE DARK BG STYLE

.river{
	@extend %content_block;
}


// Explode first graf if the story
.dropcap > p:first-of-type {
    font-size: 1.4em;
    line-height: 1.65em;

	// Story dropcap
	&:first-letter{
		color: $trib-red2;
		float: left;
		font-size: 75px;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
}

.sidebars__traveler{display:none;}

.sidebar{
	margin-bottom: $sidebar-margin-bottom;
	max-height: 500px;
	overflow:hidden;
	position:relative;
	transition: max-height 400ms ease;

	&:after{
		// This is the little gradient showing that there is more stuff
		content:"";
		display:block;

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: $sidebar-margin-bottom;


		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+19,0+100 */
		background: linear-gradient(to top, #{rgba($white, 1)} 1%,#{rgba($white, 1)} 19%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


	}

	&--open{
		max-height:none;
		transition: max-height 400ms ease;
		overflow:visible;

		&:after{
			content:none;
		}
	}
}
.read-more{
	@include sans-serif();
    z-index: 1000;
	transform:translate(0, -50%);
	display: block;
	margin: #{$sidebar-margin-bottom / -1 } auto 0 auto;

    border: none;
    background: $read-more-background-color;
    color: set-text-color($read-more-background-color);

    padding: 15px;
    border: 1px solid #bbb;
	transition: background 150ms ease-out;
    
    &:hover, &:focus{
		background: darken($read-more-background-color, 10%);
		transition: background 150ms ease-out;
    }
}

// This is the paywall/meter/registration sticky note at the bottom of the page
.met-flyout .met-promo-content{
	p {
		line-height: 1.3em;
		font-family: "Arial", sans-serif;
		span{
			font: 14px/1.3em "Arial", sans-serif;
			color:white;
			width:100%;
			margin: 0;

			&:first-of-type{
				font-weight: 700;
			}

			a {
				font: 14px/1.3em "Arial", sans-serif !important;
				
			}
		}
	}
}

// TODO: Move into base styles

.river ~ .image{
	// For any images that are subsequent siblings (not children!!)
	// of a .river. The goal here is to target full-width images that
	// are in a container but not a river.
	
	figcaption{
		color: $white;
	}
}

// TWEAKS JUST FOR THIS PROJECT

.image{
	margin: $grid-gap 0;
}

@media all and (min-width: $phablet-min-width){
	// By default, this is 450px+
	p{
		font-size: 18px;
		line-height: 1.5em;
	}
}
@media all and (min-width: $side-saddle-min-width){

	.sidebars{
		display:flex;

		&__traveler{
			display:block;
			flex: 1 1;
		}

		&__stories{
			flex-basis: $river-width-large
		}

		&__media-column{
			// Right now, this column only exists to take up equal space on the far side
			flex: 1 1;
		}
	}

}

// @media all and (min-width: $tablet-min-width){
// 	// ONLY CHANGES FOR TABLETS + DESKTOPS
// 	// By default, this is 650px+	
// }

// @media all and (min-width: $desktop-min-width){
// 	// ONLY CHANGES FOR DESKTOPS
// 	// By default, this is 850px+
// }