*.pyc
*.swp
# Ignore build dependencies 
node_modules
# Ignore artifacts from the build process
.sass-cache
# You probably want to ignore files created by the front-end build
# process.  Uncomment these lines to do so:
css

#Ignore generated JS files
js/app.min.js
js/vendor.min.js
js/*.min.js
js/*.map 

# Ignore other generated content
img/icon-sprite.svg

# This stupid MacOS thing.
.DS_Store

#ArchieML artifacts
out_parsed.txt
out_drive.html

# A place to store things locally
_archive
_vault

# Ignore generate stuff
img/header/*.svg