{% extends "_base.html" %}

 {# {{ url_for('cps-abuse.cps_abuse_story', slug=slug) }} #}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://{{ ROOT_URL }}/css/abuse-base.css">
{% endblock stylesheets %}

{% block content %}
<div class='container'>
	<div class='river'>
		<ul>

		</ul>
	</div>
</div>
{% endblock content %}


{% block scripts %}
	{# <script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script> #}
{% endblock %}