{% extends "_base.html" %}

{% macro abuse_subscribe_refer() %}
	{{ refer(refers['subscribe']['headline'], refers['subscribe']['text'], refers['subscribe']['button_url'], refers['subscribe']['button_text']) }}
{% endmacro %}

 {# {{ url_for('cps-abuse.cps_abuse_story', slug=slug) }} #}

{% block nav %}{% endblock %}

{% block prefetch %}
	{{ super() }}
	<link href='http://{{ ROOT_URL }}/img/cps-abuse-bg-texture.jpg' rel='preload' as='image'>
{% endblock prefetch %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://{{ ROOT_URL }}/css/abuse-base.css">
{% endblock stylesheets %}


{% block body_attr %}data-animate="true"{% endblock body_attr %}

{% block content %}

{% set mainbar_info = stories|get_story_info('mainbar') %}

{# Our super cool project navigation #}
{% include "subtemplates/_nav-carousel.html" %}
{% include "subtemplates/_header.html" with context %}
<section id='mainbar' class='container'>
	<div class='river dropcap'>
		{% for story_item in abuse['mainbar'] %}
			{# The story content, from the Archie, is passed directly to the template as var story #}
			{% set s = story_item %}
			{% include 'subtemplates/_story-loop.html' %}
		{% endfor %}
	</div>
</section> </article>{# END MAINBAR #}
{% include 'subtemplates/_share-your-story.html' %}
<div class='advert' data-ad-type="leaderboard"></div>
{% include "subtemplates/_sidebar-menu.html" %}
<section class='sidebars container'>
	<div class='sidebars__traveler'>
		{% include 'subtemplates/_sidebar-traveler.html' %}
	</div>
	<div class='sidebars__stories'>
	{% for story in stories if story.slug != "mainbar" %}
		{% set i = loop.index %}
		{% set info = story %} {# use a new var so the data is available on subtemplates #}
		<article id='{{ story.slug }}' class='sidebar river dropcap'>
			{% include "subtemplates/_sidebar.html" %}
		</article>
		<button class='read-more' data-target="{{ story.slug }}">Read more</button>
		{% if i % 6 == 0 %}
			<div class='advert' data-ad-type="shrinky-cube"></div>
		{% elif i % 3 == 0 %}
			{{ abuse_subscribe_refer() }}
		{% endif %}
	{% endfor %} {# end sidebars loop #}
	</div> {# END SIDEBARS__STORIES WRAPPER #}
	<div class='sidebars__media-column'>
		{# RIGHT NOW, THIS JUST SPACES THINGS SO THE RIVER REMAINS CENTERED #}
	</div>
</section> {# END SIDEBARS #}

{% include 'subtemplates/_credits.html' %}
{% endblock content %}


{% block scripts %}
	<script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script>
{% endblock %}