{% extends "_base.html" %}
{% from './subtemplates/_macros.html' import add_author_shirtails as add_author_shirtails with context%}


{% block omniture_server %}apps.beta.tribapps.com{% endblock omniture_server %}

{% macro abuse_subscribe_refer() %}

	{{ refer(refers['subscribe']['headline'], refers['subscribe']['text'], refers['subscribe']['button_url'], refers['subscribe']['button_text'], add_class=add_class) }}
{% endmacro %}

{% macro abuse_download_refer(make_side=True) %}

	{% set add_class = "" %}

	{% if make_side %}
		{% set add_class = add_class + " side side--left" %}
	{% endif %}

	{{ refer(refers["tips"]['headline'], 
		refers["tips"]['text'], 
		refers["tips"]['button_url'], 
		refers["tips"]['button_text'], 
		has_image=refers["tips"]['image_url'], 
		unique_id="tips", 
		add_class=add_class) }}

{% endmacro %}

{% macro abuse_share_refer(make_side=False) %}
	
	{% set add_class = "" %}

	{% if make_side %}
		{% set add_class = add_class + " side side--left" %}
	{% endif %}

	{{ refer(refers["share_your_story"]['headline'], 
		refers["share_your_story"]['text'], 
		refers["share_your_story"]['button_url'], 
		refers["share_your_story"]['button_text'], 
		has_image=refers["share_your_story"]['image_url'], 
		unique_id="share_your_story", 
		add_class=add_class) }}
{% endmacro %}

 {# {{ url_for('cps-abuse.cps_abuse_story', slug=slug) }} #}

{% block title %}<title>{{ mainbar_hammer_hede }} -- Chicago Tribune</title>{% endblock title %}


{% block sprites %}
	<div style="display:none;height:0;visibility:invisible;">
    	{% include 'img/icon-sprite.svg' %}
	</div>
{% endblock %}


{% block nav %}{% endblock %}

{% block prefetch %}
	{{ super() }}
	<link href='http://{{ ROOT_URL }}/img/header/intro_basemap.svg' rel='preload' as='image'>
	<link rel="preload" type="text/css" href="http://{{ ROOT_URL }}/css/abuse-base.css">
	{# <link href='http://{{ ROOT_URL }}/img/cps-abuse-bg-texture.jpg' rel='preload' as='image'> #}
{% endblock prefetch %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://{{ ROOT_URL }}/css/abuse-base.css">
{% endblock stylesheets %}


{% block body_attr %}data-animate="true"{% endblock body_attr %}

{% block content %}

{% set mainbar_info = stories|get_story_info(mainbar_slug) %}

{# Our super cool project navigation #}
{% include "subtemplates/_nav-carousel.html" %}
{% include "subtemplates/_header.html" with context %}
<section id='{{ mainbar_slug }}' class='container story-open'>
	<div class='river dropcap'>
		{% for story_item in abuse[mainbar_slug] %}
			{# The story content, from the Archie, is passed directly to the template as var story #}
			{% set s = story_item %}
			{% set mainbar = True %}
			{% include 'subtemplates/_story-loop.html' %}
		{% endfor %}
		{% set authors = mainbar_slug|get_authors %}
		{{ add_author_shirtails(authors) }}
	</div>
</section> </article>{# END MAINBAR #}
<div class='advert' data-ad-type="leaderboard"></div>
{{ keep_scrolling(direction="back", target="#", label="Back", id="return") }}
<section class='sidebars container'>
	<h1 class='sidebars__header'>{{ sidebar_label }}</h1>
	<p class='sidebars__sub-label'>{{ sidebar_sublabel }}</p>
	<div class='sidebars__traveler'>
		{% include 'subtemplates/_sidebar-traveler.html' %}
	</div>
	<div class='sidebars__stories'>
	{% for story in stories|sort(attribute="display_order") if story.slug != mainbar_slug and story.display_order and story.display_order > 0 and story.publish and story.publish > 0 %}
		{% set mainbar = False %}
		{% set i = loop.index %}
		{% set info = story %} {# use a new var so the data is available on subtemplates #}
		<article itemscope itemtype="http://schema.org/NewsArticle" id='{{ story.slug }}' class='sidebar river dropcap'>
			{% include "subtemplates/_sidebar.html" %}
		</article>
		<button class='read-more' data-target="{{ story.slug }}" aria-label="Read this entire story">Read more</button>
		{% if loop.first %}
			{{ abuse_share_refer(True) }}
		{% endif %}
		{% if i % 6 == 0 %}
			<div class='advert' data-ad-type="shrinky-cube"></div>
		{% elif i % 3 == 0 %}
			{{ abuse_subscribe_refer() }}
		{% endif %}
	{% endfor %} {# end sidebars loop #}
	</div> {# END SIDEBARS__STORIES WRAPPER #}
	<div class='sidebars__media-column'>
		{# RIGHT NOW, THIS JUST SPACES THINGS SO THE RIVER REMAINS CENTERED #}
	</div>
</section> {# END SIDEBARS #}

{% include 'subtemplates/_credits.html' %}
{% endblock content %}


{% block scripts %}
	<script src="//players.brightcove.net/3690581440001/S1vBkbMfe_default/index.min.js"></script>
	<script src="//{{ ROOT_URL }}/js/base.min.js" type="text/javascript"></script>
{% endblock %}

{% block comments %}{% endblock comments %}