{% extends "_base.html" %}

{# 
NOTES:

The variable {{ slug }} is the unique identifier for the page. This should be used in all analytics.

#}

{# {% block google_fonts_prefetch %}
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700" crossorigin>
{% endblock google_fonts_prefetch %}
 #}


{% block title %}<title>{{ story_info['headline'] }} -- Chicago Tribune</title>{% endblock title %}

{% set canonical_url = "http://" ~ ROOT_URL ~ url_for('cps_abuse.cps_abuse_story', slug=slug) %}
{% block canonical %}<link rel="canonical" href={{ canonical_url }} />{% endblock canonical %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://{{ ROOT_URL }}/css/abuse-base.css">
{% endblock stylesheets %}

{% block nav %}
    {# Our super cool project navigation #}
    {% include "subtemplates/_nav-carousel.html" %}
{% endblock %}

{% block content %}
<div class='container'>
	<div class='river'>
		{% if story_info["headline"] %}<h1>{{ story_info["headline"] }}</h1>{% endif %}
		{% if story_info["dek"] %}<h2>{{ story_info["dek"] }}</h2>{% endif %}
		{% for story_item in story %}
			{# The story content, from the Archie, is passed directly to the template as var story #}
			{% set s = story_item %}
			{% include 'subtemplates/_story-loop.html' %}
		{% endfor %}

		<p>The slug is <strong><code>{{ slug }}</code></strong></p>
	</div>
</div>
{% endblock content %}


{% block scripts %}
	<script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script>
{% endblock %}

{# ANALYTICS TWEAKS, FOR ALL THE DIFFERENT STORIES #}
{% block omniture_page_name %}{{ name }}--{{ slug }}{% endblock omniture_page_name %}

{% block chartbeat_page_title %}{{ headline }} (title){% endblock chartbeat_page_title %}
{% block chartbeat_section %}Dataviz, Watchdog, title{% endblock chartbeat_section %}
{% block chartbeat_author %}Watchdog{% endblock chartbeat_author %}

{# GOOGLE/SEO #}
{% block structured_data_meta %}
    {# METS/STRUCTURED DATA #}
    <meta name="description" content="{{ story_info['og_description'] }}" />

    {# If the story has its own keywords, then use them, otherwise use the default #}
    {% if story_info['seo_keywords'] %}
	    <meta name="keywords" content="{{ story_info['seo_keywords'] }}" />
    {% else %}
    	<meta name="keywords" content="{{ seo_keywords }}" />
    {% endif %}
    <meta name="author" content="Chicago Tribune" />
    <meta property="image" content="{{ story_info['thumbnail_url'] }}" />
{% endblock structured_data_meta %}


{% set thumbnail =  story_info['thumbnail_url']|get_thumbnail_info %}

{# OPENGRAPH #}
{% block opengraph %}
    <meta property="og:url" content="{{ canonical_url }}" />
    <meta property="og:type" content="article" /> 
    <meta property="og:title" content="{{ story_info['og_title'] }}" />
    <meta property="og:description" content="{{ story_info['og_description'] }}" />
    <meta property="og:image" content="{{ story_info['thumbnail_url'] }}" />
    <meta name="og:image:alt" content="{{ story_info['thumbnail_alt'] }}" />
    {% if thumbnail %}
	    <meta name="og:image:height" content="{{ thumbnail.height }}px" />
	    <meta name="og:image:width" content="{{ thumbnail.width }}px" />
    {% endif %}
{% endblock opengraph %}

{# TWITTER #}
{% block twitter scoped%}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chicagotribune" />
    <meta name="twitter:title" content="{{ story_info['og_title'] }}" />
    <meta name="twitter:description" content="{{ story_info['og_description'] }}" />
    <meta name="twitter:image" content="{{ story_info['thumbnail_url'] }}" />
    <meta name="twitter:image:alt" content="{{ story_info['thumbnail_alt'] }}" />
    <meta name="twitter:creator" content="@chicagotribune" />
    <meta name="twitter:creator" content="@chitribgraphics" />
    <meta name="twitter:creator" content="@jsmithrichards" />
    <meta name="twitter:creator" content="@perezjr" />
    <meta name="twitter:creator" content="@poolcar4" />
{% endblock twitter %}



