{% extends "_base.html" %}

{# 
NOTES:

The variable {{ slug }} is the unique identifier for the page. This should be used in all analytics.

#}

{% set canonical_url = "http://" ~ ROOT_URL ~ url_for('cps-abuse.cps_abuse_story', slug=slug) %}
{% block canonical %}<link rel="canonical" href={{ canonical_url }} />{% endblock canonical %}

{% block library_scripts %}
	{# <script src="//{{ ROOT_URL }}/js/vendor.min.js" type="text/javascript"></script> #}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://{{ ROOT_URL }}/css/abuse-base.css">
{% endblock stylesheets %}

{% block content %}
<div class='container'>
	<div class='river'>

		{{ name, slug, title }}

		{%if headline %}<h1>{{ headline }}</h1>{% endif %}
		{% if dek %}<h2>{{ dek }}</h2>{% endif %}
		{% for story_item in story %}
			{# The story content, from the Archie, is passed directly to the template as var story #}
			{% set s = story_item %}
			{% include 'subtemplates/_story-loop.html' %}
		{% endfor %}

		<p>The slug is <strong><code>{{ slug }}</code></strong></p>
	</div>
</div>
{% endblock content %}


{% block scripts %}
	{# <script src="//{{ ROOT_URL }}/js/app.min.js" type="text/javascript"></script> #}
{% endblock %}

{# ANALYTICS TWEAKS, FOR ALL THE DIFFERENT STORIES #}

{% block omniture_page_name %}{{ name }}--{{ slug }}{% endblock omniture_page_name %}

{% block chartbeat_page_title %}{{ headline }} (title){% endblock chartbeat_page_title %}
{% block chartbeat_section %}Dataviz, Watchdog, title{% endblock chartbeat_section %}
{% block chartbeat_author %}Watchdog{% endblock chartbeat_author %}
