{% from './subtemplates/_macros.html' import add_bylines as add_bylines with context%}
{% from './subtemplates/_macros.html' import add_date_published as add_date_published with context %}
{% from './base-subtemplates/_macros.html' import keep_scrolling as keep_scrolling with context %}

<header class='header'>
	<div class='header__panel header__panel--headline'>
		<h1 class='header__headline'>{{ mainbar_info.headline }}</h1>
		<h2 class='header__dek' itemprop="headline">{{ mainbar_info.dek }}</h2>
		{{ add_bylines(mainbar_info.bylines)}}
		{{ add_date_published(date_published, date_modified) }}
	</div>
	{{ keep_scrolling(target="#mainbar") }}
	<div class='header__map map'>
		{# Put the images here #}
		<img class='map__layer map__layer--base' src="http://{{ ROOT_URL }}/img/header/intro_basemap.svg">
		{% for panel in intro|sort(attribute="disp_order") if panel.has_map == 1%}
			<img class='map__layer map__layer--{{ panel.id }}' src='http://{{ ROOT_URL }}/img/header/{{ panel.id }}.svg' />
		{% endfor %}
	</div>
	{% for panel in intro|sort(attribute="disp_order") %}
		<div id="{{ panel.id }}" class='header__panel'>
{# 			<small><strong>{{ panel.id }}:</strong></small> #}
			<p class='header__panel-text'>{{ panel.text|process_text }}</p>
		</div>
	{% endfor %}
</header>
