{% from 'base-subtemplates/_macros.html' import refer as refer with context %}


{% macro add_author_shirtails(authors=False) %}
  {# If there are not authors in the spreadsheet, then this will come across as false #}
  {% if authors %}
    {# Adds the shirtails to the bottom of stories #}
    <div class='reporter-credits'>
    {% for author in authors %}
      <ul class='reporter-credit'>
        {% if author.email %}
        <li>
          <a target="_blank" rel="noopener" href="mailto:{{ author.email }}">{{ author.email }}</a>
        </li>
        {% endif %}
        {% if author.twitter %}
        <li>
          Twitter <a target="_blank" rel="noopener" href="http://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>
        </li>
        {% endif %}
      </ul>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{% macro sidebar_refer(sidebar_slug, image_slug=False, add_class=False) %}
  
  {% set sidebar_info = stories|get_story_info(sidebar_slug) %}

  {% if sidebar_info.publish == 1 %}
    {# Only make a refer if we have published the sidebar #}
    <aside class='refer {% if image_slug %}refer--has-image{% endif %} refer--case-study {% if add_class %}{{ add_class }} {% endif %}'>
      <div class='refer__inner'>
        {% if image_slug %}
          {{ add_p2p_photo(
            slug=image_slug, 
            add_class="refer__image image--lazy", 
            width=500, 
            display_caption=False, 
            display_credit=False, 
            dont_lazy_load=False) }}
        {% endif %}
        <div class='refer__text-wrapper'>
          <h1 class="refer__headline"><small class='kicker'>Case study: </small>{{ sidebar_info.headline }}</h1>
          <p class="refer__text">{{ sidebar_info.dek }}</p>
          <a  class="refer__button" href="#{{ sidebar_slug }}">Read it</a>
        </div>
      </div>
    </aside>
  {% endif %}
{% endmacro %}

{% macro video_by_ref(ref, add_class, header) %}
    
   <figure class='video {% if add_class %} {{ add_class }}{% endif %}'>
      {% if header %}
        <figcaption><h4 class='video__headline'>{{ header }}</h4></figcaption>
      {% endif %}
       <div class='video__wrapper'>
          <video data-account="3690581440001"
            data-player="S1vBkbMfe"
            data-embed="default"
            data-video-id="ref:{{ ref }}"
            data-application-id
            tabindex="-1" 
            class="video-js"
            controls></video>
      </div>
    </figure>
{% endmacro %}



{% macro abuse_breaker(image_slug=False, caption, breaker_text=False, display_ad=False) %}
  <figure class='breaker'>
    <blockquote  class='breaker__caption'>{{ caption|process_text }}</blockquote>
    {% if image_slug != False %}
      {{ add_p2p_photo(
          slug=image_slug, 
          add_class="image--lazy breaker__image", 
          width=1000, 
          display_caption=False, 
          display_credit=True, 
          dont_lazy_load=False) }}
    {% else %}
      <p class='breaker__caption'>NO IMAGE SLUG PROVIDED</p>
    {% endif %}
  </figure>
  {% if display_ad %}
    {{ ad(display_ad, False) }}
  {% endif %}
  {% if breaker_text %}<h3 class='breaker-subhede'>{{ breaker_text|process_text }}</h3>{% endif %}
{% endmacro %}

{% macro add_date_published(pub, mod) %}
  <div class='pub-date'>

    {% if pub >= mod %}
      {# If the mod date is the same as pub date, then there have been no updates #}
      <meta itemprop="datePublished" datetime="{{ pub|xldate_to_datetime }}" content="{{ pub|xldate_to_datetime }}">
      <time itemprop="dateModified" datetime="{{ mod }}"content="{{ mod|xldate_to_datetime }}">PUBLISHED: {{ mod|xldate_to_datetime|format_date_with_strftime("%B %-d, %Y") }}</time>

    {% else %}
      {# The the mod date is after the pub date, then there have been updates. #}
      <meta itemprop="datePublished" datetime="{{ pub|xldate_to_datetime }}" content="{{ pub|xldate_to_datetime }}">
      <time itemprop="dateModified" datetime="{{ mod }}"content="{{ mod|xldate_to_datetime }}">UPDATED: {{ mod|xldate_to_datetime|format_date_with_strftime("%B %-d, %Y") }}</time>

    {% endif %}

  </div>
{% endmacro %}

{% macro abuse_download_refer(make_side=True) %}

  {% set add_class = "" %}

  {% if make_side %}
    {% set add_class = add_class + " side" %}
  {% endif %}

  {{ refer(refers["tips"]['headline'], 
    refers["tips"]['text'], 
    refers["tips"]['button_url'], 
    refers["tips"]['button_text'], 
    has_image=refers["tips"]['image_url'], 
    unique_id="tips", 
    add_class=add_class) }}
{% endmacro %}

{% macro add_bylines(bylines) %}
  <div class='bylines'>
    <p itemprop="author creator"> By 
      {%- for person in bylines|get_bylines %}
        <a href="mailto:{{ person.email }}" target="_blank" rel="noopener">
          <span itemtype="http://schema.org/Person" itemscope="">{{ person.name_first|trim }} {{ person.name_last|trim }}</span></a>
        {%- if loop.length > 2 and loop.index < loop.length - 1 %}, {% endif %}
        {%- if loop.index == loop.length - 1 %} and {% endif %}
      {% endfor %}
    </p>
  </div>
{% endmacro %}

{% macro breaker(text, num=False) %}
  {% if num %}
    {# <div class='breaker breaker--{{ num }}'> #}
      <h3>{{ text }}</h3>
    {# </div> #}
  {% else %}
    <h3>{{ text }}</h3>
  {% endif %}
{% endmacro %}

{% macro photo_arr(design_str, p2p_collection_slug_str, image_width, display_caption_bool, display_credit_bool, add_class_str, override_caption) %}
  <div class='photo-arr photo-arr--{{ design_str }} {{ add_class_str }}'>
  {% if design_str|int == 0 %}
    {# ZERO means a gallery #}
    {{ gallery(p2p_collection_slug_str, display_caption_bool, display_credit_bool, image_width) }}
  {% else %}
    {# OTHERWISE WE'LL JUST USE CSS TO ARRANGE THE PHOTOS #}
    {% set limit = design_str|get_photo_limit %}
    {% for img in get_p2p_content_item(p2p_collection_slug_str)['related_items'][0:limit] %}
      {{ add_p2p_photo(img['slug'], "image--lazy", image_width, display_caption_bool, display_credit_bool) }}
    {% endfor %}
  {% endif %}
  {% if override_caption %}
    <p class='photo-arr__override-caption'>{{ override_caption }}</p>
  {% endif %}
  </div>
  {# {{ get_p2p_content_item(p2p_collection_slug_str) }} #}
{% endmacro %}


{% macro gallery(slug, show_caption_bool, show_credit_bool, image_width) %}
  {# TODO: Make photo size respect the river #}
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      {% for img in get_p2p_content_item(slug)['related_items'] %}
        {% if show_caption_bool %}
          {% set caption = img.content_item.caption %}
        {% else %}
          {% set caption = False %}
        {% endif %}

        {% if show_credit_bool %}
          {% set credit = img.content_item.credit %}
        {% else %}
          {% set credit = False %}
        {% endif %}

        <div class="swiper-slide">
          {{ add_p2p_photo(img['slug'], "", image_width, caption, credit, True) }}
          {# <div class="swiper-lazy-preloader"></div> #}
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    
    <!-- If we need scrollbar -->
    {# <div class="swiper-scrollbar"></div> #}
</div>
{% endmacro %}

{% macro aside(aside_type, add_class) %}
    {% set refer_content = refers[aside_type] %}
    
    {% if aside_type == 'subscribe' or aside_type == "respond" %}
      {% set refer_url = refer_content["url"]|process_text|e %}
    {% else %}
      {% set refer_url = "http://" + ROOT_URL + "/" + refer_content["url"]|process_text()|e %}
    {% endif %}

    

    <aside class='refer refer--{{ aside_type }} {% if add_class %} {{ add_class }} {% endif %}'>
        <h3 class='refer__headline'>{{ refer_content["headline"]|dumb_to_smart_quotes|process_text() }}</h3>
        {% if refer_content["text"]%}
        <p class='refer__text'>{{ refer_content["text"]|dumb_to_smart_quotes|process_text() }}</p>
        {% endif %}
        {% if  refer_content["button_url"] and refer_content["button_text"] %}
            <a class='refer__button' href='{{ refer_content["button_url"]|process_text() }}' target="_blank" rel="noopener">{{ refer_content["button_text"]|process_text() }}</a>
        {% endif %}
    </aside>
{% endmacro %}


{% macro add_photo(url, add_class, caption, alt) %}
  <figure class='image {{ add_class }}'>
    <img src='{{ url }}' alt='{{ alt }}'/>
    <figcaption> {{ caption }}</figcaption>
</figure>
{% endmacro %}

{% macro add_p2p_photo(slug, add_class, width, display_caption, display_credit, dont_lazy_load=False) %}
  {% set photo = get_p2p_content_item(slug) %}

  {% if photo|check_if_is_okay_to_publish(BUCKET_NAME) %}
  
    {% set caption = "" %}
    
    {% if not display_caption and display_credit %}
      {% set add_class = add_class + " image--credit-only" %}
    {% endif %}

    {% if display_caption or display_credit %}
      {% set caption = caption + "<figcaption>" %}
      {# {% set caption = caption + "<figcaption>" + photo.caption|striptags|strip_whitespace %} #}
    {% endif %}
    
    {% if display_caption %}
      {% set caption = caption + photo.caption|striptags|strip_whitespace %}
    {% endif %}


    {% if display_credit %}
      {% set credit = photo.credit|striptags|strip_whitespace %}
    {% endif %}

    {% if display_credit and display_caption %}
      {% set caption = caption + " (" + credit + ")" %}
    {% elif display_credit and not display_caption %}
      {% set caption = caption + credit %}
    {% endif %}

    {% if display_caption or display_credit %}
      {% set caption = caption + "</figcaption>" %}
    {% endif %}

    {% if dont_lazy_load %}
      {# {% set src = "src=\'" ~ photo.photo_services_url ~ "/" ~ width ~ "\'" %} #}
      {% set src = "{}/{}".format(photo.photo_services_url, width) %}
      {% set full_res_src = False %}
    {% else %}
      {% set src = "{}/{}".format(photo.photo_services_url, 10) %}
      {% set full_res_src = "{}/{}".format(photo.photo_services_url, width) %}
    {% endif %}

      <figure class='image {{ add_class }}'>
        <img {% if full_res_src %}data-full-res-src="{{ full_res_src }}"{% endif %} src="{{ src|process_text() }}" alt='{{ photo.title }}' title='{{ photo.title }}'/>
        {{ caption|process_text() }}
        <p class='debug-slug'>Image p2p slug: {{ slug }}</p>
      </figure>
    {% else %}
      <p style='padding:20px;background:red; color:yellow'>Photo (slug: {{ slug }}) is not set to "live"</p>  
    {% endif %}
{% endmacro %}

{% macro ad(type, alignment) %}
    {# returns an advert <div> with the proper alignment classes and data-* attributes to make it fit within this project. #}
    {% if alignment %}
        {% set class = "advert--" + alignment%}
    {% endif %}

    {% if type == "cube" %}
        <aside class="advert {{ class }}" data-ad-type="shrinky-cube"></aside>
    {% elif type == "leaderboard" or type == "banner" %}
        <aside class="advert" data-ad-type="leaderboard"></aside>
    {% endif %}
{% endmacro %}

{% macro pullquote(quote_text, quote_attribution, quote_attribution_secondary, add_class=False) %}
    
  {% set page_url = "http://" + ROOT_URL + "/" + PATH %}
  
  {% set tweet = quote_text + ' #WaterDrain via @chicagotribune' %}
    <figure class="pullquote {% if add_class %} {{ add_class }}{% endif %}">
        <blockquote>{{ quote_text|dumb_to_smart_quotes|process_text() }}</blockquote>
        {% if quote_attribution %}
            <figcaption>
                {{ quote_attribution|process_text() }}
                {% if quote_attribution_secondary|process_text() %}<span>{{ quote_attribution_secondary|process_text() }}</span>{% endif %}
            </figcaption>
        {% endif %}
    </figure>
    
{% endmacro %}

{% macro add_chart(id, addon_class, url) %}
    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    <div class='chart chart--{{ id }} {{ class }}'>      
        <div id='{{ id }}' class='graphic-embed' data-iframe-url='{{ url }}'></div>
        {# {% include "_subtemplates/_loading-spinner.html" %} #}
    </div>
{% endmacro %}

{% macro add_video(id, header, video_slug,addon_class="") %}

    {% set video = get_p2p_content_item(video_slug) %}

    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
   <div class='video {{ class }}'>
      {% if header %}
        <h4 class='video__headline'>{{ header }}</h4>
      {% endif %}
       <div class='video__wrapper'>
{#         <div class='video__object-wrapper'> #}
          <video data-account="3690581440001"
            data-player="S1vBkbMfe"
            data-embed="default"
            data-video-id="ref:{{ video['id'] }}"
            data-application-id
            tabindex="-1" 
            class="video-js"
            controls></video>
{#         </div> #}
      </div>
    </div>
{% endmacro %}

{% macro add_author(name, email) %}
  <span itemprop="author"><a {% if email %}href="mailto:{{- email -}}?subject=Regarding: {{ title }}"{% endif %}><span itemprop="name">{{- name -}}</span></a></span>
{% endmacro%}
