<nav class='sidebar-menu'>
	<h1 class='sidebar-menu__header'>{{ sidebar_label }}</h1>
	<p class='sidebar-menu__sub-label'>{{ sidebar_sublabel }}</p>
	<div class='sidebar-menu__stories'>
		{% for story in stories|sort(attribute="display_order") if story.slug != "mainbar" %}
			<article class='sidebar-menu__story'>
				<a href="#{{ story.slug }}">
					{% if loop.index < 5 %}
						<img class='sidebar-menu__story-thumb' src="{{ story.thumbnail_url }}" alt="story.thumbnail_alt_text" />
					{% endif %}
					<p>{{ story.headline }}</p>
				</a>
			</article>
		{% endfor %}
	</div>
</nav>