{% from './subtemplates/_macros.html' import add_bylines as add_bylines with context%}
{% from './subtemplates/_macros.html' import add_author_shirtails as add_author_shirtails with context%}


{% macro social_icon(network) %}
	<li class='network network--{{ network.slug|lower }}'>
		<a rel="noopener" target="_blank" href="{{ network.url }}" aria-label="Share this on {{ network.network }}">
			<svg class='network__icon' viewbox="0 0 30 30">
				<use xlink:href="#{{ network.slug|lower }}"/>
			</svg>
			<span class="sr-only">Share this on {{ network.network }} </span>
		</a>
	</li>
{% endmacro %}

{% macro social_buttons(info) %}

{# %23 is the url-encoded hash tag #}

	{% set target_url = 'http://graphics.chicagotribune.com/chicago-public-schools-sexual-abuse/' + info.slug %}

	{% set networks = {
			"facebook":{
				"network":"Facebook",
				"url":"https://www.facebook.com/sharer.php?u=" + target_url,
				"slug":"facebook"
			},
			"twitter":{
				"network":"Twitter",
				"url":"https://twitter.com/share?url=" + target_url + "&text=" + info.dek,
				"slug":"twitter"
			},
			"email":{
				"network":"Email",
				"url":"mailto:?body=" ~ target_url,
				"slug":"email"
			}
		}
	%}

	<ul class='social-networks social-networks--share'>
		{{ social_icon(networks['twitter']) }}		
		{{ social_icon(networks['facebook']) }}		
		{{ social_icon(networks['email']) }}		
	</ul>
{% endmacro %}



<header>
	{{ social_buttons(info) }}
	{% if info.headline %}<h1 class='kicker'>{{ info.headline }}</h1>{% endif %}
	{% if info.dek %}<h2 class='dek' itemprop="headline">{{ info.dek }}</h2>{% endif %}
	{% if info.bylines %}{{ add_bylines(info.bylines) }}{% endif %}
    <meta itemprop="datePublished" datetime="{{ date_published|xldate_to_datetime }}" content="{{ date_published|xldate_to_datetime }}">
    <meta itemprop="dateModified" datetime="{{ date_modified|xldate_to_datetime }}" content="{{ date_modified|xldate_to_datetime }}">

</header>

{% for story_item in abuse[info.slug] %}
	{# The story content, from the Archie, is passed directly to the template as var 	story #}
	{% set s = story_item %}
	{% include 'subtemplates/_story-loop.html' %}
{% endfor %} {# end storyloop #}
{# Shirttails #}
{% set authors = info.slug|get_authors %}
{{ add_author_shirtails(authors) }}
