{% from './subtemplates/_macros.html' import add_bylines as add_bylines with context%}
{% from './subtemplates/_macros.html' import add_author_shirtails as add_author_shirtails with context%}
<header>
	{% if info.headline %}<h1 class='kicker'>{{ info.headline }}</h1>{% endif %}
	{% if info.dek %}<h2 class='dek'>{{ info.dek }}</h2>{% endif %}
	{% if info.bylines %}{{ add_bylines(info.bylines) }}{% endif %}
</header>
{% for story_item in abuse[info.slug] %}
	{# The story content, from the Archie, is passed directly to the template as var 	story #}
	{% set s = story_item %}
	{% include 'subtemplates/_story-loop.html' %}
{% endfor %} {# end storyloop #}
{# Shirttails #}
{% set authors = info.slug|get_authors %}
{{ add_author_shirtails(authors) }}
